<script lang="ts">
  import {onMount} from "svelte";
  import {isLightTheme} from "$lib/stores/theme.store";
  import Nav from "$lib/components/Nav.svelte"

  onMount(() => {
    const localTheme = localStorage.getItem('isLightTheme');
    if (!localTheme) return;
    document.documentElement.dataset.theme = $isLightTheme ? 'light' : 'dark';
});
</script>

<main class="container-fluid">
  <Nav />
  <slot></slot>
</main>
