<script lang="ts">
  import type { FaceDetection } from 'face-api.js'
  import detector from "$lib/services/detector.service";
  import ImageInput from "$lib/components/ImageInput.svelte";
  import ImagePreview from "$lib/components/ImagePreview.svelte";
  import CroppedPreview from "$lib/components/CroppedPreview.svelte";
  import Configure from "$lib/components/Configure.svelte";

  let sourceImage: HTMLImageElement;
  let sourceDetections: FaceDetection[] = []
  let targetImage: HTMLImageElement;
  let targetDetections: FaceDetection[] = []
  let resultImage: HTMLImageElement;
  let selectedSourceIndex = 0
  let selectedTargetIndex = 0
  let isOk: boolean;

  $: isOk = sourceDetections.length > 0 && targetDetections.length > 0

  const swapFaces = (): void => {
    if (!sourceImage || !targetImage) return
    const sourceFace = sourceDetections[selectedSourceIndex]
    const targetFace = targetDetections[selectedTargetIndex]
    resultImage = detector.swapFaces(
      sourceImage,
      targetImage,
      sourceFace,
      targetFace,
    )
  }
</script>

<div class="container">
  <h3>V1 demo</h3>
  <hr>
  <h4>1. Choose a <code>source</code> image</h4>
  <p>An image that contains a face that you want to use</p>
  <div class="grid">
    <ImageInput bind:image={sourceImage} bind:detections={sourceDetections} />
    <div>
      <ImagePreview bind:image={sourceImage} />
    </div>
  </div>
  <CroppedPreview image={sourceImage} detections={sourceDetections} bind:index={selectedSourceIndex} />
  <h4>2. Choose a <code>target</code> image</h4>
  <p>An image that contains a face that you want to swap with face detected in <code>source</code></p>
  <div class="grid">
    <ImageInput bind:image={targetImage} bind:detections={targetDetections} />
    <div>
      <ImagePreview bind:image={targetImage} />
    </div>
  </div>
  <CroppedPreview image={targetImage} detections={targetDetections} bind:index={selectedTargetIndex} />
  <h4>3. Configure the model</h4>
  <p>Customize the minimum confidence score <code>detectionThreshold</code> for detecting faces. Applies to both <code>source</code> and <code>target</code> images</p>
  <p>Customize the number of faces to be displayed <code>nFaces</code>, sorted by the highest confidence score</p>
  <Configure />
  <h4>4. Swap the faces</h4>
  <p>Select the index of a detected face in <code>source</code> as source</p>
  <p>Select the index of a detected face to be replaced in <code>target</code></p>
  <p>Click <code>Swap</code> to swap the faces</p>
  <section class="grid">
    <div>
      <label for="selectedSourceIndex">Source index</label>
      <input id="selectedSourceIndex" type="number" min="0" bind:value={selectedSourceIndex}>
    </div>
    <div>
      <label for="selectedTargetIndex">Target index</label>
      <input id="selectedTargetIndex" type="number" min="0" bind:value={selectedTargetIndex}>
    </div>
    <button disabled={!isOk}
            on:click={() => (swapFaces())}
    >
      {isOk ? 'Swap': 'Not enough data'}
    </button>
  </section>
  <ImagePreview bind:image={resultImage} />
</div>
