<script lang="ts">
  import type { DetectedObject } from '@tensorflow-models/coco-ssd'
  import type { DetectedObjects } from '$lib/services/detector.service';
  import { detectionThreshold, nFaces } from "$lib/stores/config.store";
  import detector from '$lib/services/detector.service';
  import Icon from "$lib/components/Icon.svelte";

  export let image: HTMLImageElement;
  export let detections: DetectedObject[];
  export let detectObjects: (img: HTMLImageElement, threshold: number, nFaces: number) => Promise<DetectedObjects>;
  let loadedImage = new Image();
  let imageLoading = false;
  let fileLoading = false;

  let fileList: FileList;
  let imageUrl: string;
  let inputId = crypto.randomUUID();

  $: {
      if (fileList?.length > 0) {
          loadImage();
      }
  }
  $: detect(loadedImage, $detectionThreshold, $nFaces);

  const detect = async (img: HTMLImageElement, threshold: number, nFaces: number): Promise<void> => {
    if (img) {
      image = new Image();
      const res = await detectObjects(img, threshold, nFaces);
      image = res.image;
      detections = res.detections;
      console.debug(res)
    }
  }
  const loadFromFile = async (file: File): Promise<HTMLImageElement> => {
      const url = URL.createObjectURL(file);
      return await detector.loadImageFromUrl(url);
  }
  const loadFromUrl = async (url: string): Promise<HTMLImageElement> => {
      return await detector.loadImageFromUrl(url);
  }
  const loadImage = async (): Promise<void> => {
      if (imageUrl) {
          imageLoading = true;
          loadedImage = await loadFromUrl(imageUrl);
          imageLoading = false;
      } else {
          fileLoading = true;
          loadedImage = await loadFromFile(fileList[0]);
          fileLoading = false;
      }
  }
  const chooseFiles = (): void => {
      const fileInput = document.getElementById(inputId) as HTMLInputElement;
      fileInput?.click();
  }
</script>

<section>
  <h5>Enter a URL or upload*</h5>
  <em>*Image loaded from an URL will take precedence over uploaded image</em>
  <input
    type="text"
    bind:value={imageUrl}
    placeholder="https://example.com/image.jpg"
  />
  <button on:click={loadImage} aria-busy="{imageLoading}" disabled={!imageUrl}>
    <Icon icon="upload" />
    <span>Load</span>
  </button>
  <p>OR</p>
  <button on:click={chooseFiles} aria-busy="{fileLoading}">
    <Icon icon="image" />
    <span>Choose an image</span>
  </button>
  <input id="{inputId}" type="file" accept="image/*" bind:files={fileList} style="display:none;">
  {#if fileList?.length > 0}
    <p>Selected file: {fileList[0].name}</p>
  {/if}
</section>
