<script lang="ts">
  import type { FaceDetection } from "face-api.js";
  import type { Camera } from "@mediapipe/camera_utils";
  import type {Results} from "@mediapipe/selfie_segmentation";
  import ImageInput from "$lib/components/ImageInput.svelte";
  import ImagePreview from "$lib/components/ImagePreview.svelte";

  type InputType = HTMLImageElement | HTMLVideoElement | HTMLCanvasElement;

  let segmentationService = new window.SelfieSegmentation({locateFile: (file: string) => {
        return `https://cdn.jsdelivr.net/npm/@mediapipe/selfie_segmentation/${file}`;
      }});
  const [width, height] = [640, 480];
  let camera: Camera;
  let videoElement: HTMLVideoElement;
  let canvasElement: HTMLCanvasElement;
  let bgImage: HTMLImageElement;
  let selfieMode: 'true' | 'false' = 'false';
  let modelSelection: '0' | '1' = '1';
  let videoStarted = false;
  let sourceImage = new Image();
  let sourceDetections: FaceDetection[] = [];
  let segmentedCanvas = document.createElement('canvas');
  let segmentedImage = new Image();

  $: segmentationService.setOptions({
        selfieMode: selfieMode === 'true',
        modelSelection: Number(modelSelection) === 1 ? 1 : 0,
      });
  $: videoStarted ? runDemo() : camera?.stop();
  $: {
    segmentedCanvas.width = sourceImage.width;
    segmentedCanvas.height = sourceImage.height;
  }
  $: if (sourceImage.width > 0 && sourceImage.height > 0 && selfieMode && modelSelection) {
    run(sourceImage, segmentedCanvas).then(() => {
      segmentedImage.src = segmentedCanvas.toDataURL();
    });
  }

  function runDemo(): void {
    startCamera();
    camera.start();
  }
  function startCamera(): void {
    videoElement = document.querySelector('.input_video') as HTMLVideoElement
    canvasElement = document.querySelector('.output_canvas') as HTMLCanvasElement;
    bgImage = document.querySelector('#bg') as HTMLImageElement;
    camera = new window.Camera(videoElement, {
      onFrame: async () => {
        await run(
          videoElement,
          canvasElement,
        );
      },
      width,
      height
    });
  }
  async function run(
      input: InputType,
      output: HTMLCanvasElement,
    ): Promise<void> {
      const canvasCtx = output.getContext('2d');
      if (!canvasCtx) throw new Error('No canvas context found');

      const resultCallback = (results: Results): void => {
        canvasCtx.save();
        canvasCtx.clearRect(0, 0, output.width, output.height);
        canvasCtx.drawImage(results.image, 0, 0, output.width, output.height);

        canvasCtx.globalCompositeOperation = 'destination-atop';
        canvasCtx.drawImage(results.segmentationMask, 0, 0, output.width, output.height);
        canvasCtx.restore();
      }

      segmentationService.onResults(resultCallback);
      await segmentationService.send({ image: input });
    }
</script>

<div class="container-fluid">
  <img id="bg" src="/b.jpg" alt="background" width="{width}" height="{height}" style="display: none;">
  <h4>Video demo</h4>
  <div class="grid">
    <section>
      <h5>Original video</h5>
      <video class="input_video"></video>
    </section>
    <section>
      <h5>Result</h5>
      <canvas class="output_canvas" width="{width}px" height="{height}px"></canvas>
    </section>
  </div>
  <div class="grid">
    <section>
      <input id="videoStarted" type="checkbox" bind:checked={videoStarted}>
      <label for="videoStarted">Start video stream</label>
    </section>
    <section>
      <label for="model">Model selection (Landscape runs faster)</label>
      <select name="model" id="model" bind:value={modelSelection}>
        <option value="1">Landscape</option>
        <option value="0">General</option>
      </select>
    </section>
    <section>
      <label for="selfie">Selfie mode? (Flips the image)</label>
      <select name="mode" id="selfie" bind:value={selfieMode}>
        <option value="false">No</option>
        <option value="true">Yes</option>
      </select>
    </section>
  </div>
  <h5>Image demo</h5>
  <div class="grid">
    <ImageInput bind:image={sourceImage} bind:detections={sourceDetections} />
    <div>
      <ImagePreview bind:image={segmentedImage} />
    </div>
  </div>
</div>
