<script lang="ts">
  import type { ModelConfig, DetectedObject } from '@tensorflow-models/coco-ssd';
  import type { DetectedObjects } from '$lib/services/detector.service';
  import ImageInputV2 from "$lib/components/v2/ImageInputV2.svelte";
  import ImagePreview from "$lib/components/ImagePreview.svelte";
  import Configure from "$lib/components/Configure.svelte";
  import CroppedPersonPreview from '$lib/components/v2/CroppedPersonPreview.svelte';
  import detector from '$lib/services/detector.service';
  import { detectionThreshold } from '$lib/stores/config.store';

  let sourceImage: HTMLImageElement;
  let sourceDetections: DetectedObject[] = []
  let targetImage: HTMLImageElement;
  let targetDetections: DetectedObject[] = []
  let resultImage: HTMLImageElement;
  let selectedSourceIndex = 0
  let selectedTargetIndex = 0
  let isOk: boolean;
  let apiHost = '';
  let apiKey = '';

  $: isOk = sourceDetections.length > 0 && targetDetections.length > 0

  const swapFaces = async () => {
    if (!sourceImage || !targetImage) return
    const sourceFace = sourceDetections[selectedSourceIndex]
    const targetFace = targetDetections[selectedTargetIndex]
    resultImage = await detector.swapV2(
            apiHost,
            apiKey,
            sourceImage,
            targetFace,
            targetImage,
            $detectionThreshold,
    );
  }
  async function detectObjects(
      image: HTMLImageElement,
      threshold: number,
      nFaces: number,
  ): Promise<DetectedObjects> {
    detector.setScoreThreshold($detectionThreshold);
    if (window.cocoSsdModel === undefined) {
      const config = { base: 'lite_mobilenet_v2' } as ModelConfig;
      window.cocoSsd.load(config).then(model => {
        window.cocoSsdModel = model;
      });
    }
    if (image.width === 0 || image.height === 0) return { image, detections: [] };
    const detections: DetectedObject[] | undefined = await window.cocoSsdModel?.detect(
        image,
        undefined,
        threshold,
    );
    if (detections === undefined) return { image, detections: [] };
    const persons = detections.filter(detection => detection.class === 'person');
    // const hasFace = await detector.filterPersonsWithFace({ image, detections: persons });
    const sortedByScore = persons.sort((a, b) => b.score - a.score);
    const maxReturn = sortedByScore.slice(0, nFaces);
    return { image, detections: maxReturn };
  }
</script>

<div class="container">
  <h3>V2 demo</h3>
  <hr>
  <h4>1. Choose a <code>source</code> image</h4>
  <p>An image that contains a face that you want to use</p>
  <div class="grid">
    <ImageInputV2 bind:image={sourceImage} bind:detections={sourceDetections} {detectObjects} />
    <div>
      <ImagePreview bind:image={sourceImage} />
    </div>
  </div>
  <CroppedPersonPreview image={sourceImage} detections={sourceDetections} bind:index={selectedSourceIndex} />
  <h4>2. Choose a <code>target</code> image</h4>
  <p>An image that contains a face that you want to swap with face detected in <code>source</code></p>
  <div class="grid">
    <ImageInputV2 bind:image={targetImage} bind:detections={targetDetections} {detectObjects} />
    <div>
      <ImagePreview bind:image={targetImage} />
    </div>
  </div>
  <CroppedPersonPreview image={targetImage} detections={targetDetections} bind:index={selectedTargetIndex} />
  <h4>3. Configure the model</h4>
  <p>Customize the minimum confidence score <code>detectionThreshold</code> for detecting faces. Applies to both <code>source</code> and <code>target</code> images</p>
  <p>Customize the number of faces to be displayed <code>nFaces</code>, sorted by the highest confidence score</p>
  <Configure />
  <h4>4. Swap the faces</h4>
  <p>Select the index of a detected face in <code>source</code> as source</p>
  <p>Select the index of a detected face to be replaced in <code>target</code></p>
  <p>Click <code>Swap</code> to swap the faces</p>
  <section class="grid">
    <div>
      <label for="apiHost">API Host</label>
      <input id="apiHost" type="text" bind:value={apiHost}>
    </div>
    <div>
      <label for="apiKey">API Key</label>
      <input id="apiKey" type="password" bind:value={apiKey}>
    </div>
  </section>
  <section class="grid">
    <div>
      <label for="selectedSourceIndex">Source index</label>
      <input id="selectedSourceIndex" type="number" min="0" bind:value={selectedSourceIndex}>
    </div>
    <div>
      <label for="selectedTargetIndex">Target index</label>
      <input id="selectedTargetIndex" type="number" min="0" bind:value={selectedTargetIndex}>
    </div>
    <button disabled={!isOk}
            on:click={() => (swapFaces())}
    >
      {isOk ? 'Swap': 'Not enough data'}
    </button>
  </section>
  <ImagePreview bind:image={resultImage} />
</div>
