<script lang="ts">
    import { detectionThreshold, nFaces } from "../stores/config.store";
</script>

<section>
    <div class="grid">
        <div>
            <label for="detectionThreshold">Detection threshold</label>
            <input id="detectionThreshold" min="0" max="1" step="0.05" type="number" bind:value={$detectionThreshold}>
        </div>
        <div>
            <label for="nFaces">Number of faces</label>
            <input id="nFaces" type="number" min="1" bind:value={$nFaces}>
        </div>
    </div>
</section>
