<script lang="ts">
    import type {FaceDetection} from "face-api.js";
    import detector from "$lib/services/detector.service";
    import ImagePreview from "./ImagePreview.svelte";

    export let image: HTMLImageElement;
    export let detections: FaceDetection[];
    export let index: number;
</script>

<section style="margin-top:20px;">
    {#if detections.length > 0}
    <div class="grid">
      <p>Detected face(s). Click to select a face.</p>
      <section class="grid">
        {#each detections as d, idx}
        <a href={undefined} class:selected-image={index === idx} on:click={() => index = idx}>
          <ImagePreview image={
            detector.crop(image, d.box.width, d.box.height, d.box.x, d.box.y)
          }>
            <p>Score: {(100 * d.score).toFixed(1)}%</p>
          </ImagePreview>
        </a>
        {/each}
      </section>
    </div>
  {/if}
</section>

<style>
    .selected-image {
        border: mediumseagreen 2px solid;
        border-radius: 20px;
        padding: 10px;
    }
</style>
