<script lang="ts">
  export let image: HTMLImageElement;
</script>

<div>
{#if !image || !image.src}
  <div class="center">
    <p>No image provided</p>
  </div>
{:else}
  {@html image.outerHTML}
{/if}
<slot></slot>
</div>

<style>
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
</style>
