<script lang="ts">
  import { base } from "$app/paths";
  import { isLightTheme } from "../stores/theme.store";
  import Icon from "./Icon.svelte";
</script>

<nav>
  <ul>
    <li><strong>Face Swap App</strong></li>
  </ul>
  <ul>
    <li>
      <a href="/">FaceSwap V1</a>
    </li>
    <li>
      <a href="{base}/v2">FaceSwap V2</a>
    </li>
    <li>
      <a href="{base}/segment">Selfie Segmentation Demo</a>
    </li>
    <li>
      <a href="https://gitlab.com/tdtimur/face-swap" target="_blank">Source</a>
    </li>
    <li>
      <a href={undefined} class="secondary"
         on:click={() => {
             $isLightTheme = !$isLightTheme
             document.documentElement.dataset.theme = $isLightTheme ? 'light' : 'dark';
         }}>
        <Icon icon="dark_mode" />
      </a>
    </li>
  </ul>
</nav>
